@import 'src/assets/scss/define';

.tab-content{
  @extend %df;
  @extend %pr;
  @extend %fww;
  @extend %jcs;
  @extend %pr;
  @extend %bsb;
  align-content: flex-start;
  padding: j(16) j(32);
  min-height: 100%;
}

.goods-item{
  @extend %pr;
  @extend %db;
  margin-top: j(16);
  &:nth-child(2),
  &:nth-child(1) {
    margin-top: 0;
  }
}

.wow-end{
  @extend %db;
  @extend %w100;
}