@import 'src/assets/scss/define';

.banner-section{
  @extend %ma;
  @extend %w100;
  height: j(600);
  background-color: #f2f2f2;
}
.banner-item{
  @extend %db;
  @extend %w100;
  @extend %h100;
}
.banner-video,
.banner-image {
  @extend %db;
  @extend %w100;
  @extend %h100;
}
.banner-video{
  background-color: #000;
}