@import 'src/assets/scss/define';

.nav-bar-seat{
    @extend %w100;
    @extend %pr;
    height: j(44 * 2);
}
.nav-bar{
    @extend %pf;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    @extend %bw05;
    @extend %bwb;
    z-index: 8;
    height: j(44 * 2);
    background-color: #fff;
    &.mode-transparent{
        background-color: transparent;
        &::before{
            @extend %dn;
        }
        .white-icon{
            @extend %db;
            margin-left: j(32);
        }
        .black-icon{
            @extend %dn;
        }
    }
}
.nav-bar-content{
    @extend %pr;
    @extend %c3;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    height: j(44 * 2);
}
.nav-bar-btn{
    @extend %pa;
    @extend %cp;
    @extend %ao8;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %l0;
    @extend %bsb;
    width: j(44 * 2);
    height: j(44 * 2);
    padding-right: j(12 * 2);
}
.nav-bar-btn-icon{
    width: j(20 * 2);
    height: j(20 * 2);
}
.white-icon{
    @extend %pr;
    @extend %dn;
    width: j(20 * 2);
    height: j(20 * 2);
    &:before{
        @extend %pa;
        @extend %br50;
        left: j(-5 * 2);
        right: j(-5 * 2);
        top: j(-5 * 2);
        bottom: j(-5 * 2);
        content: '';
        z-index: -1;
        background-color: rgba(0, 0, 0, .3);
    }
}
.nav-bar-title{
    @extend %tac;
    @extend %ma;
    @extend %twno;
    max-width: 45%;
    font-size: j(16 * 2);
}
