@import 'src/assets/scss/define';

.banner-sizebox{
  height: j(20);
}
.banner-section{
  @extend %ma;
  @extend %oh;
  z-index: 8;
  width: j(710);
  height: j(180);
  border-radius: j(16);
  background-color: #f2f2f2;
}
.banner-item{
  @extend %db;
  @extend %w100;
  @extend %h100;
}
.banner-image {
  @extend %db;
  @extend %w100;
  @extend %h100;
  border-radius: j(16);
}