@import 'src/assets/scss/define';

.goods-item{
  @extend %oh;
  @extend %pr;
  width: j(335);
  background-color: #fff;
  border-radius: j(16);
  box-shadow: 0 0 j(4) 0 rgba(0, 0, 0, 0.1);
}
.goods-cover{
  @extend %w100;
  height: j(335 * 4 / 5);
}
.goods-image{
  @extend %db;
  @extend %w100;
  @extend %h100;
  background-color: #eee;
}
.goods-content{
  padding: j(12) j(16) j(16);
}
.goods-name{
  @include twno(2);
  color: #1A1A1A;
  font-size: j(28);
  line-height: j(36);
  height: j(72);
}
.goods-actions{
  @extend %df;
  @extend %aic;
  margin-top: j(12);
}
.goods-tags{
  @extend %df;
  @extend %df1;
  @extend %aic;
  @extend %oh;
  margin-right: j(12);
  white-space: nowrap;
}
.goods-tag{
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %cfff;
  border-radius: j(4);
  height: j(32);
  font-size: j(20);
  padding: 0 j(6);
  margin-right: j(12);
  &:nth-child(odd){
    background-color: $color-primary;
  }
  &:nth-child(even){
    background-color: #F0AA05;
  }
  &:last-child{
    margin-right: 0;
  }
}
.goods-share{
  @extend %br50;
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %dan;
  padding: 0;
  width: j(44);
  height: j(44);
  background-color: $color-primary;
}
.goods-icon{
  width: j(24);
  height: j(24);
}