@import 'src/assets/scss/define';

.video-section{
  margin-top: j(20);
  background-color: #fff;
  padding-bottom: j(32);
}

.video-content{

}
.video-cell{
  @extend %db;
  @extend %w100;
  height: j(420);
  background-color: #000;
  margin-top: j(10);
  &:first-child{
    margin-top: 0;
  }
}
.video-button{
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %cp;
  @extend %ma;
  @extend %dan;
  background-color: transparent;
  color: #1A1A1A;
  font-size: j(28);
  margin-top: j(32);
  width: j(320);
  height: j(80);
  border-radius: j(16);
  border: 1px solid #D9D9D9;
}