@import 'src/assets/scss/define';

page{
  @extend %df;
  @extend %fdc;
  @extend %h100;
  background-color: #f2f2f2;
}

.bg{
  @extend %pf;
  @extend %t0;
  @extend %l0;
  @extend %r0;
  z-index: -1;
  height: j(760);
  background: linear-gradient(180deg, #FD3423, rgba(253, 52, 35, 0));
  backdrop-filter: blur(10px);
}

.content{
  @extend %pr;
  margin-top: j(16);
  &::before{
    @extend %pa;
    @extend %t0;
    @extend %l0;
    @extend %r0;
    content: '';
    height: j(480);
    border-radius: j(40) j(40) 0 0;
    background: linear-gradient(to bottom, #FFFFFF 20%, #F2F2F2 100%);
  }
}

