@import 'src/assets/scss/wow-define';

@include b(fixed-bottom) {
    @extend %pf;
    @extend %b0;
    @extend %l0;
    @extend %w100;
    @extend %bsb;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    z-index: 9;
    &:after{
        @extend %w100;
        @extend %db;
        content: '';
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }

    @include e(seat){
        padding-bottom: constant(safe-area-inset-bottom);
        padding-bottom: env(safe-area-inset-bottom);
    }
}
