@import 'src/assets/scss/wow-define';

@include b(skeleton) {
  @extend %pa;
  @extend %t0;
  @extend %l0;
  @extend %r0;
  @extend %h100;
  @extend %df;
  @extend %aic;
  @extend %fdc;
  @extend %jcc;
  @extend %bsb;
  @extend %pen;
  font-size: j(14);
  padding-bottom: j(80);

  @include e(error) {
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %jcc;

    @include m(tip) {
      @extend %tac;
      @extend %c9;
      @include twno(5);
      width: j(250);
      margin-bottom: j(10);
    }

    @include m(btn) {
      @extend %df;
      @extend %aic;
      @extend %jcc;
      @extend %cp;
      @extend %cfff;
      pointer-events: auto;
      font-size: j(16);
      margin-top: j(30);
      border-radius: j(20);
      background-color: $color-warning;
      width: j(200);
      height: j(40);
    }
  }

  @include e(loading) {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    width: j(60);
    height: j(60);
    border-radius: j(10);
    background-color: rgba(0, 0, 0, .05);
  }

  @include e(empty) {
    @extend %df;
    @extend %fdc;
    @extend %aic;
    @extend %jcc;
    color: #bbb;
    pointer-events: auto;

    @include m(icon) {
      @extend %db;
      margin-bottom: j(10);
      width: j(720 / 4);
      height: j(540 / 4);
    }
  }

}
