@import "src/assets/scss/define";
@import "src/assets/scss/iconfont";

page {
  @extend %bsb;
}

.c-button{
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %ma;
  @extend %cfff;
  @extend %fwb;
  font-size: j(28);
  width: j(686);
  height: j(80);
  background: linear-gradient(90deg, #F0190F 0%, #F03C0A 100%);
  border-radius: j(16);
}

.c-ios-seat{
  @extend %w100;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.c-input-place{
  @extend %cc;
}

.c-flex1{
  @extend %df1;
}