@import 'src/assets/scss/define';

.search-section{
  @extend %ps;
  z-index: 8;
  top: 0;
  padding: j(20);
  background-color: #fff;
}
.search-content{
  @extend %df;
  @extend %aic;
  @extend %ma;
  @extend %bsb;
  border: j(1) solid #EBEBEB;
  border-radius: j(36);
  width: j(710);
  height: j(72);
  padding-left: j(24);
  padding-right: j(4);
}
.search-icon{
  width: j(32);
  height: j(32);
  margin-right: j(16);
}
.search-input{
  @extend %df1;
  @extend %c3;
  font-size: j(28);
}
.search-input-place{
  color: #BFBFBF;
}
.search-close{
  @extend %cp;
  @extend %df;
  @extend %aic;
  @extend %jcc;
  width: j(60);
  height: j(60);
  margin-right: j(12);
}
.search-close-icon{
  width: j(28);
  height: j(28);
}
.search-btn{
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %cfff;
  font-size: j(28);
  border-radius: j(32);
  width: j(128);
  height: j(64);
  background-color: $color-primary;
}

.search-history{
  @extend %pf;
  @extend %l0;
  @extend %r0;
  @extend %b0;
  @extend %t0;
  z-index: 7;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(10px);
}
.search-history-content{
  @extend %df;
  @extend %fww;
  @extend %oya;
  align-content: flex-start;
  max-height: 50vh;
  background-color: #fff;
  padding: j(112) j(16) j(32) j(32);
}
.search-history-item{
  @extend %c9;
  @extend %dib;
  @extend %twno;
  @extend %bsb;
  max-width: 45%;
  font-size: j(24);
  padding: j(6) j(16);
  background-color: #efefef;
  border-radius: j(4);
  margin-right: j(16);
  margin-top: j(16);
}
.search-history-btn{
  @extend %df;
  @extend %pr;
  @extend %aic;
  @extend %jcc;
  @extend %w100;
  color: $color-primary;
  font-size: j(28);
  height: j(80);
  background-color: #fff;
}