@import 'src/assets/scss/define';
page{
    padding-top: j(20);
    background-color: $color-background;
}

.info-cell{
    @extend %df;
    @extend %aic;
    @extend %bw05;
    @extend %bwb;
    @extend %c3;
    font-size: j(32);
    background-color: #fff;
    padding: j(24) j(32);
}
.info-value{
    @extend %df1;
    @extend %dan;
    @extend %tar;
    width: 0;
    min-height: j(60);
    background-color: transparent;
}
.info-btn{
    @extend %df;
    @extend %aic;
    border: none;
    padding: 0;
    width: j(100);
    height: j(100);
}
.info-image{
    @extend %br50;
    margin-left: auto;
    width: j(100);
    height: j(100);
    background-color: #f2f2f2;
}
.c-button{
    margin-top: j(120) !important;
}
