@import 'src/assets/scss/define';

.share-mask{
  @extend %pf;
  @extend %t0;
  @extend %l0;
  @extend %r0;
  @extend %b0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.share-actions{
  @extend %pf;
  @extend %b0;
  @extend %l0;
  @extend %r0;
  @extend %df;
  @extend %fdc;
  z-index: 99;
  background-color: #fff;
  border-radius: j(40) j(40) 0 0;
  transition: transform .3s;
  transform: translate3d(0, 100%, 0);
  &.is-active{
      transform: translate3d(0, 0, 0);
  }
}
.share-actions-title{
  @extend %pr;
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %fwb;
  height: j(112);
  font-size: j(34);
  color: #1A1A1A;
}
.share-actions-content{
  @extend %df;
  @extend %aic;
  padding: j(32) 0;
}
.share-action{
  @extend %df1;
  @extend %df;
  @extend %fdc;
  @extend %aic;
  @extend %dan;
  background-color: transparent;
  color: #a1a1a1;
  font-size: j(28);
}
.share-action-icon{
  width: j(120);
  height: j(120);
  margin-bottom: j(16);
}
.share-actions-cancel{
  @extend %bw05;
  @extend %bwt;
  @extend %dan;
  @extend %w100;
  @extend %cp;
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %c9;
  height: j(100);
  font-size: j(32);
  background-color: transparent
}
.share-poster{
  @extend %pf;
  @extend %t0;
  @extend %l0;
  @extend %r0;
  @extend %b0;
  @extend %aic;
  @extend %dn;
  @extend %aic;
  @extend %jcc;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  &.is-active{
    @extend %df;
  }
}
.share-poster-content{
  @extend %df;
  @extend %fdc;
  @extend %aic;
}
.share-canvas{
  width: j(600);
  height: j(800);
  background-color: #fff;
}

.share-btn{
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %cfff;
  @extend %dan;
  font-size: j(28);
  width: j(320);
  height: j(70);
  border: none;
  background-color: $color-primary;
  border-radius: j(35);
  &.is-save{
    margin-top: j(24);
  }
  &.is-cancel{
    margin-top: j(12);
    color: #ddd;
    background-color: transparent;
  }
}