@import 'src/assets/scss/define';

.help-btn{
  color: $color-primary;
  font-size: j(24);
  padding: j(24) j(48) j(32);
}
.help-popup-mask{
  @extend %pf;
  @extend %t0;
  @extend %l0;
  @extend %r0;
  @extend %b0;
  z-index: 98;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.help-popup{
  @extend %pf;
  @extend %b0;
  @extend %l0;
  @extend %r0;
  @extend %df;
  @extend %fdc;
  @extend %oh;
  height: 70%;
  z-index: 99;
  background-color: #fff;
  border-radius: j(40) j(40) 0 0;
  transition: transform .3s;
  transform: translate3d(0, 100%, 0);
  &.is-active{
      transform: translate3d(0, 0, 0);
  }
}
.help-popup-header{
  @extend %pr;
  @extend %df;
  @extend %aic;
  @extend %jcc;
  height: j(112);
}
.help-popup-title{
  @extend %fwb;
  font-size: j(34);
  color: #1A1A1A;
}
.help-popup-close{
  @extend %pa;
  width: j(50);
  height: j(50);
  right: j(31);
  top: j(31);
}
.help-popup-content{
  @extend %df1;
  @extend %oya;
  padding: 0 j(32) j(32);
}
.help-popup-prompt{
  @extend %c9;
  margin: j(10) 0;
  line-height: 1.8;
  font-size: j(28);
}